<div class="container">
  <h1>Your Stocks</h1>
  
  <% @stocks.each do |stock| %>
    <div class="ticker-symbol">
      <%= stock.ticker_symbol %> <!-- この部分を更新 -->
    </div>
  <% end %>
  <%= link_to 'edit', edit_stocks_stocks_path, class: 'btn btn-primary' %>
</div>
